@using Help_Desk_2.Models
@model IEnumerable<TicketsKPI>

@{
    ViewBag.Title = "Ticketing KPIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header>
    <h2 class="title">@ViewBag.Title</h2>
</header>

@{Html.RenderPartial("KpiTablePartial", Model);}

@section Scripts {
    @{Html.RenderPartial("ReportTablesScriptPartial", ReportTypeEnum.Summary);}
}





























