@using Help_Desk_2.Models
@model IEnumerable<TicketsKPI>

@{
    ViewBag.Title = "Ticket KPIs Year to Date By User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Year = new SelectList(new List<SelectListItem>
    {
        new SelectListItem {Value = "0", Text = "Current Year" },
        new SelectListItem {Value = "2015", Text = "2015" },
        new SelectListItem {Value = "2016", Text = "2016" },
        new SelectListItem {Value = "2017", Text = "2017" },
       
    }, "Value", "Text");


}


<header>
    <h2 class="title">@ViewBag.Title</h2>
</header>


<form class="form-inline" action="UserYearToDateKPI">

    <div class="form-group">
        <label for="Keywords" style="padding:5px;padding-right:5px">User Responsible : </label>
        @Html.DropDownList("user", ViewBag.User as SelectList, "All", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
    <div class="form-group">
        <label for="searchType">Year : </label>
        @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Year, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>



</form>

<h3>Summary</h3>

@{Html.RenderPartial("KpiTablePartial", Model);}

@section Scripts {
    @{Html.RenderPartial("ReportTablesScriptPartial", ReportTypeEnum.YearToDateByUser);}
}