@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="panel panel-danger">

    <div class="panel-heading">
        <h1 class="text-danger">Error.</h1></div>
    <div class="panel-body">
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
</div>
