@{
    ViewBag.Title = "FAQs Search";
}

<h2 class="title">@ViewBag.Title</h2>
<hr/>
<div class="content search">
    <div class="col-sm-12" style="border: 1px solid #ddd">
        <h3>Results</h3>
        <p>vestibulum mauris justo, eu imperdiet libero aliquet eu. Praesent sagittis sed nisi nec lacinia. </p>
        <p>Ut ipsum enim, posuere non mollis eu, semper sed augue. Cras at turpis sit amet tellus laoreet</p>
        <p>rhoncus vel sodales ex. Aenean nisl lacus, venenatis sit amet turpis et, eleifend tempus purus</p>
    </div>


</div>