@{
    ViewBag.Title = "Frequently Asked Questions";
}

<h2 class="title">@ViewBag.Title</h2>
<hr/>
<div class="content">
    <div class="col-sm-12" style="border: 1px solid #ddd">
        <p>Display list of FAQs plus Advanced search box</p>
    </div>


</div>