@{
    ViewBag.Title = "Home Page";
}

<div class="content home">
    <div class="col-sm-12" style="border: 1px solid #ddd">
    <h3>News and messages</h3>
    <p>Maecenas vestibulum mauris justo, eu imperdiet libero aliquet eu. Praesent sagittis sed nisi nec lacinia. </p>
    <p>Ut ipsum enim, posuere non mollis eu, semper sed augue. Cras at turpis sit amet tellus laoreet rhoncus vel sodales ex. Aenean nisl lacus, venenatis sit amet turpis et, eleifend tempus purus</p>
</div>

<div class="col-sm-12" style="border: 1px solid #ddd; margin: 15px 0">
    <h3>Latest FAQs</h3>
    <ul>
        <li>Nunc vehicula urna eu neque condimentum vestibulum.</li>
        <li>Morbi pharetra lorem eu nulla tempus dignissim.</li>
        <li>In faucibus felis in nunc laoreet, in dapibus eros accumsan.</li>
        <li>Mauris sit amet massa at ligula tincidunt accumsan sit amet nec ex.</li>
        <li>Vivamus nec elit non ex tristique imperdiet.</li>
        <li>Aliquam eget tellus et mi facilisis lobortis tempor non lacus.</li>
        <li>Vestibulum eget leo non est blandit iaculis non id elit.</li>
    </ul>
</div>

<div class="col-sm-12" style="border: 1px solid #ddd;">
    <h3>My Subscriptions</h3>
    <ul>
        <li>Vestibulum eget leo non est blandit iaculis non id elit.</li>
        <li> Duis ac nunc volutpat, fermentum neque vel, molestie arcu.</li>
        <li>Nam eget tortor feugiat, ultricies velit eget, faucibus dui.</li>
        <li>Morbi feugiat sem a feugiat sollicitudin</li>
    </ul>
</div>
</div>
<div class="row" style="display:none">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>