@{
    ViewBag.Title = "Knowledge Base";
}

<h2 class="title">@ViewBag.Title</h2>
<hr/>
<div class="content">
    <div class="col-sm-12" style="border: 1px solid #ddd">
        <p>Display list of Knowledge base documents plus Advanced search box</p>
    </div>


</div>