@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorised";
}
<div class="panel panel-danger">

    <div class="panel-heading">
        <h1 class="text-danger">Insufficient Access Level</h1></div>
    <div class="panel-body">
        <h2 class="text-danger">You are not authorised to access this page. Please contact the system administrator for assistance.</h2>
    </div>
</div>
