@{
    ViewBag.Title = "User Profile";
}

<h2 class="title">@ViewBag.Title</h2>
<hr/>
<div class="content">
    <div class="col-sm-12" style="border: 1px solid #ddd">
        
        <p>Display editable form so user can change their profile and subscriptions. </p>
        <p>Also display current subscriptions</p>
    </div>


</div>