@model Help_Desk_2.Models.News

@{
    ViewBag.Title =  Model.title;
}

<header>
    <h2 class="title">@ViewBag.Title</h2>
    <p class="text-muted">Tag: News / @Html.DisplayFor(model => model.publishedDate) / Author: @Html.DisplayFor(model => model.Originator.displayName)</p>

</header>
<div class="container-view">
       
    <div>
        @Html.Raw(Model.body)
    </div>        

    <div>
        <div class="btn-group btn-group-custom" style="padding-bottom:15px; padding-top:15px">
            
            <a href="~/News" name="actionBtn" class="btn btn-primary">Close</a>
        </div>
    </div>
</div>
